/**********/
/* Common */
/**********/

body {
    background: black url('/static/catalog/img/bg.jpg') repeat-y center top;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#header {
    height: 48px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    background: url('/static/catalog/img/topbar.jpg') repeat-x;
}

#header img {
    padding: 1px;
    margin-right: 1px;
}

#header img.link {
    width: 28px;
    height: 28px;
    vertical-align: bottom;
}

#header img.selected {
    border: 1px solid #D6D6D6;
}

#footer {
    height: 20px;
    margin-top: 10px;
    text-align: center;
    background: url('/static/catalog/img/bottombar.jpg') repeat-x;
}

/**************/
/* Index Page */
/**************/

.categories {
    margin: 100px auto;
    width: 860px;
    text-align: left;
}

.categories img {
    width: 80px;
    height: 80px;
    margin: 3px;
}

.reports {
    text-align: right;
}

/*****************/
/* Category Page */
/*****************/

#category-listing h6 {
    font-weight: bold;
    margin-bottom: 0;
}

#category-listing table {
    width: 100%;
}

#category-listing thead {
    background-color: #747474;
    color: black;
    font-style: italic;
    font-size: 10px;
}

#category-listing thead th {
    font-weight: normal;
    padding: 1px;
}

#category-listing tbody {
    color: #660000;
    font-weight: normal;
}

#category-listing tbody td {
    padding: 1px;
}

#category-listing tbody tr:nth-child(odd) {
    background-color: #F6F6F6;
}

#category-listing tbody tr:nth-child(even) {
    background-color: #D7D7D7;
}

#category-listing tbody a {
    color: #660000;
}

#category-listing .artist {
    width: 170px;
}

#category-listing .title {
    width: 270px;
}

#category-listing .format {
    width: 70px;
}

#category-listing .catalog-number {
    width: 200px;
}

#category-listing .year {
    width: 40px;
    text-align: center;
}

#category-listing .icon {
    width: 30px;
    text-align: center;
}

/*************/
/* Item Page */
/*************/

#item-content table {
    margin-top: 30px;
    border-collapse: collapse;
}

#item-content th {
    color: #9A9A9A;
}

#item-content a {
    color: #CFCFCF;
    font-weight: bold;
}

#item-images img {
    max-width: 1092px;
}

#item-core-info th {
    width: 75px;
}

#item-other-info th {
    width: 150px;
    vertical-align: bottom;
}

#item-label-icons {
    float: right;
    margin-top: -30px;
}

#item-label-icons img {
    height: 30px;
    margin-left: 5px;
}

/***************/
/* Report Page */
/***************/

#report table {
    margin: 0 auto;
}

#report table a {
    color: #DADDEB;
}

#report tr {
    height: 20px;
}

#report td {
    color: #9A9A9A;
    background-color: #000733;
    border: 3px solid black;
    padding: 2px;
    vertical-align: middle;
}

#report td.icon {
    background-color: #00000F;
    text-align: right;
}

#report td.icon img {
    height: 15px;
}

#report td.count {
    width: 30px;
    text-align: right;
}

#report td.spacer {
    background-color: black;
    width: 20px;
}

/**************/
/* About Page */
/**************/

#about-message {
    padding-top: 100px;
}

#about-status {
    text-align: center;
    padding-top: 60px;
}
