/**********/
/* Common */
/**********/

body {
    background: black url('img/bg.jpg') repeat-y center top;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

#header {
    height: 48px;
    padding-top: 10px;
    margin-bottom: 10px;
    text-align: right;
    background: url('img/topbar.jpg') repeat-x;
}

#header img {
    padding: 1px;
}

#header img.link {
    width: 28px;
    height: 28px;
    vertical-align: bottom;
}

#footer {
    height: 20px;
    margin-top: 10px;
    text-align: center;
    background: url('img/bottombar.jpg') repeat-x;
}

/**************/
/* Index Page */
/**************/

.categories {
    margin: 100px auto;
    width: 860px;
    text-align: left;
}

.categories img {
    width: 80px;
    height: 80px;
    margin: 3px;
}

/*****************/
/* Category Page */
/*****************/

#category-listing h6 {
    font-weight: bold;
    margin-bottom: 0;
}

#category-listing table {
    width: 100%;
}

#category-listing thead {
    background-color: #747474;
    color: black;
    font-style: italic;
    font-size: 10px;
}

#category-listing thead th {
    font-weight: normal;
    padding: 1px;
}

#category-listing tbody {
    color: #660000;
    font-weight: normal;
}

#category-listing tbody td {
    padding: 1px;
}

#category-listing tbody tr:nth-child(odd) {
    background-color: #f6f6f6;
}

#category-listing tbody tr:nth-child(even) {
    background-color: #d7d7d7;
}

#category-listing tbody a {
    color: #660000;
}

#category-listing .format {
    width: 70px;
}

#category-listing .year {
    width: 40px;
    text-align: center;
}

#category-listing .icon {
    width: 30px;
    text-align: center;
}

/*************/
/* Item Page */
/*************/

#item-content table {
    margin-bottom: 30px;
    border-collapse: collapse;
}

#item-content th {
    color: #9A9A9A;
}

#item-content a {
    color: #CFCFCF;
    font-weight: bold;
}

#item-core-info th {
    width: 75px;
}

#item-other-info th {
    width: 150px;
    vertical-align: bottom;
}