{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="merch.nincatalog.com" />
    <meta name="author" content="nincatalog.com" />

    <title>{% block title %}merch.nincatalog.com{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static "/merch/css/catalog.css" %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  </head>

  <body>
    <script>
      (function (i, s, o, g, r, a, m) {
        i["GoogleAnalyticsObject"] = r;
        (i[r] =
          i[r] ||
          function () {
            (i[r].q = i[r].q || []).push(arguments);
          }),
          (i[r].l = 1 * new Date());
        (a = s.createElement(o)), (m = s.getElementsByTagName(o)[0]);
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m);
      })(
        window,
        document,
        "script",
        "//www.google-analytics.com/analytics.js",
        "ga"
      );

      ga("create", "UA-58668831-1", "auto");
      ga("send", "pageview");
    </script>
    <div class="page-container">
      <header class="header">
        <img src="{% static "merch/img/banner.png" %}" alt="merch.nincatalog.com" />
      </header>
      
      <main class="main-container">
        <div class="content-wrapper">
          <nav class="sidenav">
            {% include "merch/sidenav.html" %}
          </nav>
          
          <div class="content">
            {% block banner %}{% endblock %}
            {% block content %}{% endblock %}
          </div>
        </div>
      </main>

      <footer class="footer">
        <p>To submit an entry to the site, please contact us at <a href="mailto:contact@nincatalog.com">contact@nincatalog.com</a></p>
      </footer>
    </div>

    {% block scripts %}{% endblock %}
  </body>
</html>
