{% extends 'catalog/base.html' %}

{% block content %}
  <div id="about-message">
    <p>welcome.</p>
    <p>this is a project run by active collectors. it is run by fans.</p>
    <p>there are no watermarks. this is not our artwork, nor do we pretend to own rights to any of the items or information documented here.</p>
    <p>additional views are being developed.</p>
    <p>contributors from multiple nations continue to help grow this site.</p>
    <p>please help us expand.</p>
    <p><a href="mailto:contact@nincatalog.com">contact@nincatalog.com</a></p>
  </div>

  <div id="about-status">
    <p>this is nincatalog.com <a title="2015-01-18" href="http://twitter.com/nincatalog">version 3.0a</a>.</p>
  </div>

  {% include 'catalog/footer.html' %}
{% endblock %}
