{% extends 'catalog/base.html' %}
{% load staticfiles %}

{% block content %}
<img src="{%  static 'catalog/img/halo-001-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-002-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-003-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-004-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-005-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-006-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-007-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-008-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-009-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-010-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-011-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-012-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-013-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-014-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-015-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-016-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-017-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-018-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-019-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-020-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-021-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-022-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-023-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-024-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-025-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-026-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-027-100.jpg' %}" />
<img src="{%  static 'catalog/img/halo-028-100.jpg' %}" />
{% endblock %}