{% extends 'catalog/base.html' %}
{% load static %}

{% block title %}nincatalog.com - {{ listing.title }}{% endblock %}

{% block content %}
  {% include "catalog/header.html" with group=group selected=listing.selected %}
  {% for category in listing.categories %}
  <div class="row">
    <div id="category-listing" class="col-xs-12">
      <h6>{{ category.name }}</h6>
      <table>
        <thead>
          <tr>
            {% if not category.halo %}<th class="artist"><a href="{{ "?sort=artist" }}">artist</a></th>{% endif %}
            <th class="title"><a href="{{ "?sort=title" }}">title</a></th>
            <th><a href="{{ "?sort=notes" }}">notes</a></th>
            <th class="format"><a href="{{ "?sort=format" }}">format</a></th>
            <th class="catalog-number"><a href="{{ "?sort=catalog" }}">cat number</a></th>
            <th class="year"><a href="{{ "?sort=year" }}">yr</a></th>
            <th class="icon"><a href="{{ "?sort=country" }}">ctr</a></th>
            <th class="icon"><a href="{{ "?sort=rarity" }}">sc</a></th>
          </tr>
        </thead>
        <tbody>
        {% for item in category.items %}
        {% url 'item' category.tag item.tag as item_url %}
          <tr>
            {% if not category.halo %}<td class="artist"><a href="{{ item_url }}">{{ item.artist.name|lower }}</a></td>{% endif %}
            <td class="title"><a href="{{ item_url }}">{{ item.name|lower }}</a></td>
            <td><a href="{{ item_url }}">{{ item.description }}</a></td>
            <td class="format"><a href="{{ item_url }}">{{ item.media_format.name }}</a></td>
            <td class="catalog-number"><a href="{{ item_url }}">{{ item.catalog_number }}</a></td>
            <td class="year"><a href="{{ item_url }}">{{ item.year }}</a></td>
            <td class="icon"><a href="{{ item_url }}"><img src="{{ item.country.icon.url }}" alt="{{ item.country.name }}"/></a></td>
            <td class="icon"><a href="{{ item_url }}"><img src="{{ item.rarity.icon.url }}" alt="{{ item.rarity.code }}" /></a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  {% endfor %}
  {% include 'catalog/footer.html' %}
{% endblock %}
